.homeSection {
    max-width: 1200px;
    margin: 0 auto;
}
.newText {
    margin: 0.5rem 2rem;
    font-size: 30px;
}
.galleryCardContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.galleryCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}